body {
    background-color: #efefef;
    font-family: Georgia, Times, serif;
    color: #333 ;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;
}

.nombrecito{
    text-align: center;
}
.container{
    width: 600px;
    margin: 100px auto;
}

img#imagen{
    width: 100%;
    height: 100%;
}

h2{
    font-size: 2rem;
    line-height: 1.3em;
    text-align: center;
}

p{
    margin-bottom: 1.6em;
    text-align: justify;
}

.header {
    background: #004f92;
    color: white;
    padding: 0.5em 0;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.header a {
    margin: 0 30px;
    color: white;
    text-decoration: none;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 0;
    letter-spacing: 2px;
    font-size: 0.8em ;
}

.navigation ul {
    margin-right: 10px;
    padding: 0;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 0.6rem 0;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navigation ul li a:hover {
    padding: 0.5rem;
    background: #8d8d8d;
}

/*Carrusel*/
.carrousel{
    margin-top: 60px;
    width: 100%;
}

.botones{
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.7);
    text-align: center;
    font-weight: bold;
    position: absolute;
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, .6);
}

.botones:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}

.atras{
    left: 2%;
    top: calc(60% - 60px)
}

.adelante{
    right: 2%;
    top: calc(60% - 60px)
}

.article {
    padding: 8rem;
}

/*Skill*/
.estado {
    margin: 0 200px;
    background: #333;
    border-radius: 13px;
    height: 20px;
    padding: 3px;
}

.barra-estado{
    background: #76a2c9;
    border-radius: 13px;
    height: 20px;
    width: 50%;
    
}

.texto-item{
    font-weight: bold;
    margin: 0 200px;
    display: flex;
    text-align: center;
}